* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* Working with FLEXBOX */
body, nav, ul, main, header, article, section, form, section, #container, footer, h1, h2, h3, h4{
  display: flex;
  width: 100%;
}

/* ---------------------- General --------------------- */

body { 
  font-family: sans-serif; /* Poppines */
  background-color: White;
  flex-direction: column;
}

h1 {
  font-size: 10em;
  justify-content: center;
  font-family: 'Poppins';
  font-weight: 700;
}

h2 {
  justify-content: center;
}

h4 {
  justify-content: center;
}

footer {
  height: 5vh;
  margin: 1% 0;
  align-items: center;
}

/* ---------------------- Nav --------------------- */

nav {
  position: fixed;
  z-index: 99;
  height: 8.5vh;
  width: 100%;
  color: white;
  justify-content: space-around;
  font-size: 1.5em;
  font-weight: 700;
}

nav.hover {
  background-color: #b3cd81;;
  transition: .5s ease;
  height: 5vh;
}

nav a {
  text-decoration: none;
  color: white;
}

ul {
  flex-direction: row;
  align-items: center;
}

#left {
  margin-left: 5%;
}

#right {
  width: 20%;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  display: block;
  text-decoration: none;
}


/* ---------------------- Header --------------------- */

header {
  background-image: url("../uploads/bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

header > article {
  height: 30vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header > article section {
  width: 30%;
  justify-content: space-evenly;
}


/* ---------------------- Main --------------------- */

main {flex-direction: column;}

#info {
  height: 25vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% 0;
}

#info > article {
  height: 15vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#info p {text-align: center;}

/* ---------------------- Benefits --------------------- */

#benefits {
  display: none;
  flex-direction: column;
  height: 85vh;
  color: white;
  background-color: #8dc541;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

#benefits h2 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform:uppercase;
  justify-content: center;
}

#benefits > section{
  flex-direction: row;
  justify-content: space-evenly;
}

#benefits section > article{
  width: 25%;
  height: 50vh;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5em;
}

/* -------------------- API containers -------------------- */

main section {
  flex-direction: column;
}

main section form {
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

img { 
  width: 400px;
}

#container {
  flex-direction: row;
  flex-wrap: wrap;
}

#container section {
  flex-direction: column;
  width: 33%;
}


.flex {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Poppins';
  font-weight: 600;
  letter-spacing: 4px;
}

.flex h2 {
  font-size: 1.8em;
  text-transform: capitalize;
}

.flex p {
 width: 75%;
 line-height: 1.8;
}

.image_wrapper {
  display: flex;
  justify-content: center;
}

/* -------------------- Arrow Animation -------------------- */
.arrow{height: 0vh;}

.arrow span{
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 5px solid #f7fafc;
  border-right: 5px solid #f7fafc;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

/* -------------------- Hover -------------------- */

.container {
  display: flex;
  position: relative;
  width: 50%;
  margin-bottom: 2%;
}

.overlay {
  position: absolute;
  /* top: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  height: 100%;
  width: 80%;
  opacity: 0;
  transition: .5s ease;
  background-color: #22760aa1;
}

.container:hover .overlay {
  opacity: 1;
}